<!-- Filterable Content Block -->
<%include ../partials/_blueheader%>

<section class="filterable-content-block">
	<div class="content-wrapper">
		<div>
			<div class="filters-panel">
				<div class="row first">
					<div class="dropdown by-genre">
						<span>Genre</span>
						<div>
                            <% data.media.forEach(function(media) {
//								var blah = data.map(media => media.type)
//												.filter((value,index,self)=>self.indexOf((value===index)));
//								console.log(blah);
							%>

                            <%});%>
						</div>
					</div>
					<div class="dropdown by-year">
						<span>Year</span>
						<div></div>
					</div>
					<div>
						<input type="text">
					</div>
				</div>
				<div class="row second">
					<div>
						<input type="radio">
						<label>Movies</label>
					</div>
					<div>
						<input type="radio">
						<label>Books</label>
					</div>
					<div class="clear-filters">
						<a href="#">Clear filters</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-wrapper list-wrapper">
		<div>
			<div>
				<ul class="contents-list">
                    <% data.media.forEach(function(media) {
                    %>
					<li>
						<div class="thumbnail-wrapper">
							<img src="<%= media.poster %>" title="<%= media.title %>" />
						</div>
						<div class="info-wrapper">
							<p class="info-year"><%= media.title %>(<%= media.year%>)</p>
							<p class="info-genre"><%= media.genre%></p>
						</div>
					</li>
                    <% }); %>
				</ul>

			</div>
		</div>
	</div>
</section>