<!-- Filterable Content Block -->
<%include ../partials/_blueheader%>
<%
function getUniqueValues(array, key) {
	var uniqueYears = new Set();
	console.log(array);
	console.log(key);
	array.forEach(function(item) {
		if (item.hasOwnProperty(key)) {
			uniqueYears.add(item[key]);
		}
	});
	console.log(uniqueYears);
	return uniqueYears;
}
%>
<section class="filterable-content-block">
	<div class="content-wrapper">
		<div>
			<div class="filters-panel">
				<div class="row first">
					<div class="dropdown by-genre">
						<span class="toggle">Genre</span>
							<div class="dropdown-content">
								<select id="ddl-by-genre">
									<!-- TODO- FIX THIS -->
									<%
									var uniqueGenres = getUniqueValues(data.media, "genre");
									console.log(uniqueGenres);
									var bb = new Set();
									uniqueGenres.forEach(function (genreb) {
										var b = genreb.toString();
										bb.add(b);
									});
									console.log(bb);
									bb.forEach(function (genre) {
 									%>
									<option><a href="#" title="<%= genre%>"><%=genre%></a></option>
									<%});%>
								</select>
							</div>
					</div>
					<div class="dropdown by-year">
						<span class="toggle">Year</span>
						<div class="dropdown-content">

						<select id="ddl-by-year">
						<% var uniqueYears= getUniqueValues(data.media, "year");
						uniqueYears.forEach(function(year) {
                        %>
							<option><a href="#" title="<%= year%>"><%= year%></a></option>
                        <%});%>
						</select>
						</div>
					</div>
					<div id="search-input" class="search-input">
						<input type="text">
						<ul class="search-list">
                            <% var uniqueTitles= getUniqueValues(data.media, "title");
							uniqueTitles.forEach(function(title) {
                            %>
							<li><a href="#" title="<%=title%>"><%= title%></a></li>
                            <%});%>
						</ul>
					</div>
				</div>
				<div class="row second">
					<div>
						<input type="radio">
						<label>Movies</label>
					</div>
					<div>
						<input type="radio">
						<label>Books</label>
					</div>
					<div class="clear-filters">
						<a href="#">Clear filters</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-wrapper list-wrapper">
		<div>
			<div>
				<ul class="contents-list">
                    <% data.media.forEach(function(media) {
                    %>
					<li>
						<div class="thumbnail-wrapper">
							<img src="<%= media.poster %>" title="<%= media.title %>" />
						</div>
						<div class="info-wrapper">
							<p class="info-year"><%= media.title %>(<%= media.year%>)</p>
							<p class="info-genre"><%= media.genre%></p>
						</div>
					</li>
                    <% }); %>
				</ul>

			</div>
		</div>
	</div>
</section>